.wrapper {height:88%;}

#layer-control-container {height:100%;padding:0;}
#views-container {height:100%;padding:0 0 0 15px;}

#svr-layer-view {border:1px solid #ccc;height:80%;background-size:cover;}
#svr-layer-control {height:80%;width:100%;background-color:#F7F7F7;border:1px solid #C4C3C4;overflow-y:auto;overflow-x:auto;}
#svr-layer-control .list-group {margin-top:5px;}
#map {width:100%;height:100%;}

.service-expand {border:none;}
.service-expand:hover {background-color:transparent;}

.js-service-link, .js-group-link, .js-layer-link {margin-left:10px;cursor: pointer;line-height:15px;color:#000000;}
.js-service-link:hover, .js-group-link:hover, .js-layer-link:hover {color:#000000;text-decoration:none;}
.js-link-icon {position:relative;top:2px;}
.js-link-label-checkbox {position:relative;top:1px;}

#info {padding-left:0;padding-right:0;}
#featureInfo {height:100px;}

html,body {margin: 0;padding: 0;width: 100%;height: 100%;}
body {padding-top: 100px;}

#wrapper {width: 100%;height:100%;}
#page-wrapper {height:100%;background-color: #fff;}

.page-content {padding-left: 25px;padding-right: 25px;height:100%;}

@media (min-width: 768px) {body {padding-top: 50px;}}
@media (min-width: 768px) {#page-wrapper {position: inherit;margin: 0 0 0 0;height:100%;}}

.navbar-top-links li {display: inline-block;}
.navbar-top-links li:last-child {margin-right: 15px;}
.navbar-top-links li a {padding: 15px;min-height: 50px;}
.navbar-top-links .dropdown-menu li {display: block;}
.navbar-top-links .dropdown-menu li:last-child {margin-right: 0;}
.navbar-top-links .dropdown-menu li a {padding: 3px 20px;min-height: 0;}
.navbar-top-links .dropdown-menu li a div {white-space: normal;}
.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts {width: 310px;min-width: 0;}
.navbar-top-links .dropdown-messages {margin-left: 5px;}
.navbar-top-links .dropdown-tasks {margin-left: -59px;}
.navbar-top-links .dropdown-alerts {margin-left: -123px;}
.navbar-top-links .dropdown-user {right: 0;left: auto;}

.groupTree {position:relative;left:-45px;}

.groupTree li {margin:0px 0px;list-style-type:none;position:relative;left:-8px;padding:0 5px 0 15px;}
.groupTree li::before {content:'';position:absolute;top:3px;width:1px;height:100%;right:auto;left:-1px;
	border-left:1px solid #ccc;bottom:50px;}
.groupTree li::after {content:'';position:absolute;top:10px;width:14px;height:20px;right:auto;left:-1px;
    border-top:1px solid #ccc;}

/*Remove connectors before root*/
.groupTree > ul > li::before, .groupTree > ul > li::after {border:0;}
 
/*Remove connectors after last child*/
.groupTree li:last-child::before {height:7px;}