@(services: List[Service])

@main("GeoPublisher-viewer", "Viewer", routes.Assets.versioned("javascripts/viewer-main.js").url) {
	
	<div id="layer-control-container" class="col-lg-3">
		<div id="svr-layer-control">
			<div class="list-group groupTree" id="js-layers-nl">
				<ul id="js-ul-services">
					@for(service <- services) {
					<li class="js-service" data-service-id="@service.getServiceId()">
						<span class="js-service-link" data-service-expanded="false">
							<span class="glyphicon glyphicon-plus-sign js-link-icon"></span>
							<span class="js-link-label"> @service.getServiceName()</span>
						</span>
					</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div id="views-container" class="col-lg-9">
		<div id="svr-layer-view">
			<div id="map" class="olMap"></div>
		</div>
		<div id="info" class="alert alert-succes col-lg-12 pull-right"></div>
	</div>
}