@(services: List[Service])

@main("GeoPublisher-viewer", routes.Assets.versioned("javascripts/viewer-main.js").url) {
	
	<div id="layer-control-container" class="col-lg-3 col-xs-3">
		<div id="srv-layer-control">
			<div class="list-group groupTree pull-left" id="js-layers-nl">
				<ul id="js-ul-services">
					@for(service <- services) {
					<li class="js-service-id" data-service-id="@service.getServiceId()">
						<span class="js-service-link" data-service-status="none">
							<span class="glyphicon glyphicon-plus-sign js-link-icon"></span>
							<span class="js-link-label"> @service.getServiceName()</span>
						</span>
					</li>
					}
				</ul>
			</div>
		</div>
		<button id="uncheck-all" class="btn btn-default btn-xs col-lg-12 col-xs-12">Deselecteer alle lagen</button>
	</div>
	<div id="viewer-container" class="col-lg-9 col-xs-9">
		<div id="srv-layer-view">
			<div id="map" class="olMap"></div>
			<button id="map-full-view" class="btn btn-default btn-xs disabled">
				<span class="glyphicon glyphicon-resize-full"></span>
			</button>
		</div>
		<div id="info-container" class="col-lg-12 col-xs-12">
			<div id="info">
				
			</div>
		</div>
	</div>
}