@(webJarAssets: WebJarAssets, title: String, serviceName: String, layerName: String, jsMain: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(webJarAssets.locate("ol.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    </head>
    <body>
        <div id="wrapper">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<ol class="breadcrumb" id="navbar-publisher-viewer-content">
							<li><span class="glyphicon glyphicon-cloud"></span> Viewer</li>
							@if(serviceName != null) {
								<li>@serviceName</li>
							}
							
							@if(layerName != null) {
								<li>@layerName</li>
							}
						</ol>
					</div>
				</div>
			</nav>
			<div id="page-content">
				@content
			</div>
		</div>

		<script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("ol.js"))" type="text/javascript"></script>
		<script src="@routes.WebJarAssets.at(webJarAssets.locate("dojo/dojo.js"))" type="text/javascript"></script>
		<script src="@routes.Application.jsRoutes()" type="text/javascript"></script>
		<script src="@jsMain" type="text/javascript"></script>
    </body>
</html>