@(title: String, header: String, jsMain: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-transluscent">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>@title</title>
        
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

		
    </head>
    <body>
        <div class="wrapper">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
							<span class="sr-only">Toggle navigation</span>
						</button>
						<a class="navbar-brand" href="#">
							<span class="glyphicon glyphicon-cloud"></span> Views
						</a>
					</div>
					<ul class="nav navbar-top-links navbar-right" id="event-bar">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span> admin@@idgis.nl 
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										<span class="glyphicon glyphicon-user"></span> Profiel
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">
										<span class="glyphicon glyphicon-off"></span> Afmelden
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" title="Help" data-toggle="modal" data-target="#help">
								<span class="glyphicon glyphicon-question-sign"></span>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<div id="page-wrapper">
				<div class="page-content">
					<h1 class="page-header" id="js-page-header">@header</h1>
					@content
				</div>
			</div>
		</div>
		
		<script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/openlayers/ol.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/dojo/dojo/dojo.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("javascripts/views.js")" type="text/javascript"></script>
		<script src="@jsMain" type="text/javascript"></script>
    </body>    
</html>