@(webJarAssets: WebJarAssets, service: String, layer: String)

@main(webJarAssets, "GeoPublisher-viewer", service, layer, routes.Assets.versioned("javascripts/service-layer.js").url) {

	<div id="viewer-container" class="col-lg-12 col-xs-12">
		<div id="srv-layer-view">
			<div id="map" class="olMap"></div>
			<button id="map-full-view" class="btn btn-default btn-xs disabled">
				<span class="glyphicon glyphicon-resize-full"></span>
			</button>
		</div>
		<div id="info-container" class="col-lg-12 col-xs-12">
			<div id="info"></div>
		</div>
	</div>
	
	<input type="hidden" id="js-data-service-layer" data-endpoint="@play.Play.application().configuration().getString("viewer.environmenturl")" 
		data-service="@service" data-layer="@layer">
}